name: Run Tests

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Run Tests with Coverage
      run: ./gradlew jacocoTestReport --info

    - name: Upload Snapshot Artifacts
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: snapshot-mismatches
        path: app/build/outputs/snapshots/

    - name: Add Coverage PR Comment
      uses: Madrapps/jacoco-report@v1.7.1
      if: github.event_name == 'pull_request'
      with:
        paths: |
          ${{ github.workspace }}/app/build/reports/jacoco/jacocoTestReport/jacocoTestReport.xml
        token: ${{ secrets.GITHUB_TOKEN }}
        min-coverage-overall: 0
        min-coverage-changed-files: 0
        title: Code Coverage Report
        update-comment: true
